@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

//空白
$space-XS: 0.25rem; //4px
$space-S: 0.5rem; //8px
$space-M: 1rem; //16px
$space-L: 1.5rem; //24px
$space-XL: 2rem; //32px

.body {
    background-color: #EEFAFF;
    // font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
    // font-family: "游ゴシック", YuGothic, Verdana, Roboto, "Droid Sans", "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
    font-family: "游ゴシック", YuGothic, Helvetica, Verdana, Roboto, "Droid Sans", "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}

.container {
    max-width: 960px;

    margin: {
        right: auto;
        left: auto;
    }

    display: flex;
    flex-direction: column;
    gap: $space-XL;
    color: #3d3d3d;

    @media screen and (max-width: 767px) {
        min-width: 300px;
        padding: 0 0.5rem;
    }
}

.titile {
    text-align: center;
    // margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.5rem;

    @media screen and (max-width: 767px) {
        // font-size: 1.6rem;
        font-size: 2.6rem;
        padding: 2rem;
    }
}

.content {
    // border: 1px solid gray;
    background-color: #ffffff;
    padding: $space-XL;

    @media screen and (max-width: 767px) {
        padding: $space-M;
    }

    &__sectionTitle {
        font-size: 2.2rem;
        font-family: "Josefin Sans", sans-serif;
        font-weight: bold;
        margin: 0;

        @media screen and (max-width: 767px) {
            // font-size: 1.5rem;
            font-size: 2rem;
        }
    }
}

.about {
    display: flex;
    flex-direction: column;
    gap: $space-L;

    &__content {
        padding-top: $space-M;
    }

    &__nameRuby {
        // color: #34347f;;
        color: #003c55;
    }

    &__contentTitle {
        margin: 0;
        font-size: 1.4rem;
        // color: #34347f;
        color: #003c55;

        @media screen and (max-width: 767px) {
            font-size: 1.2rem;
            // font-weight: normal;
        }
    }

    &__skillLists {
        display: flex;
        flex-direction: column;
        gap: $space-M;
        margin: 0;
        padding-left: $space-L;
        padding: 0;
    }

    &__skillArea {
        list-style: none;
    }

    &__skillTitle {
        margin: 0;

        @media screen and (max-width: 767px) {
            // font-weight: normal;
        }
    }

    &__skillText {
        margin: 0;
    }
}

.works {
    display: flex;
    flex-direction: column;
    gap: $space-L;

    &__lists {
        margin: 0;
        padding: 0;
        padding-top: $space-M;
        display: flex;
        flex-direction: column;
        gap: $space-M;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        // border: 1px solid #75d6ff;
        border: 1px solid #93b7c6;
        padding: $space-M;
        gap: $space-S;
    }

    &__Title {
        margin: 0;
        font-size: 1.4rem;
        // color: #3347f4;
        color: #003c55;

        @media screen and (max-width: 767px) {
            font-size: 1.2rem;
            // font-weight: normal;
        }
    }

    &__link {
        color: inherit;
        text-decoration: none;
        padding: $space-S;
        width: 10rem;
        text-align: center;

        @media screen and (max-width: 767px) {
            width: 7rem;
            height: 2rem;
            line-height: 2rem;
        }

        border: {
            width: 1px;
            style: solid;
            radius: 2rem
        }

        &:hover {
            background-color: #f3f3f3;
        }
    }

    &__explanation {
        margin: 0;
    }
}